.square {
	display: inline-block;
	line-height: 1;
	width: 50%;
	&:nth-child(even) {
		text-align: right;
	}
	&:nth-child(odd) {
		text-align: left;
	}	
	.square-inner{
		display: inline-block;
		width: 200px;
		height: 200px;
		margin: 0px 7px 10px 7px;
		opacity: 0.3;
		cursor: pointer;
		@media (max-width: 768px) {
			width: 150px;
			height: 150px;
		}
		&:hover {
			opacity: 1;
		}
	}
}

.header {
	height: 100px;
	margin: 20px 0;
	span {
		font-size:10px;
	}
}

.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

.info {
	display: none;
	text-align: center;
	position: absolute;
	top: 300px;
	left:0;
	right:0;
	&.level {
		.text {
			background: #fff;
		}
	}
	&.you-loose {
		.text {
			background: red;
			color: #fff;
		}
	}
	.text {
		border: 1px solid #fff;
		display: inline-block;
		font-size: 40px;
		padding: 20px;
		z-index: 1;
		border-radius: 4px;
	}
}

.animated { 
    -webkit-animation-duration: 0.7s; 
    animation-duration: 0.7s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
	&.infinity{
	    animation-iteration-count:infinite; 
	    -webkit-animation-iteration-count:infinite; 
	} 
} 

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
} 

@-webkit-keyframes flipInX { 
    0% { 
        -webkit-transform: perspective(400px) rotateX(-90deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform: perspective(400px) rotateX(0deg); 
        opacity: 1; 
    } 
} 
@keyframes flipInX { 
    0% { 
        transform: perspective(400px) rotateX(-90deg); 
        opacity: 0; 
    } 
    100% { 
        transform: perspective(400px) rotateX(0deg); 
        opacity: 1; 
    } 
} 
.flipInX { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flipInX; 
    backface-visibility: visible !important; 
    animation-name: flipInX; 
}