<div class="text-center">
	<div class="header">
			<h2>Squares</h2>
			<button ng-click="newGame()"
					class="btn btn-primary animated pulse infinity"
					ng-hide="sqNumbers.length">Start</button>
			<div class="animated flipInX"
				 ng-show="sqNumbers.length">
					<b>Repeat sequence - Lv. {{level}}</b>
					<br>
					<span>Keep Focus!</span>
			</div>
		</div>
    <square ng-repeat="color in squareColors"
            ng-click="checkSequence($index)"
            color="{{color}}"
            class="square"></square>
</div>
<div class="info level">
	<div class="text">
		Level {{level}}
	</div>
</div>
<div class="info you-loose pulse infinity animated">
	<div class="text">
		You Lost!
	</div>
</div>